<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
      <li class="email"><img class="icon" src="assets/images/icons/letter.svg"/>
      <a href="mailto:{{ sidebar.email }}">{{ sidebar.email }}</a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <!-- <li class="phone"><img class="icon" src="assets/images/icons/phone.svg"/> -->
      <!-- <a href="tel:{{ sidebar.phone }}">{{ sidebar.phone }}</a> -->
    <!-- </li> -->
    {% endif %}

    {% if sidebar.citizenship %}
      <li class="email"><img class="icon" src="assets/images/icons/passport.svg"/>
      <a href="">{{ sidebar.citizenship.[page.lang].title }}</a>
    </li>
    {% endif %}

    {% if sidebar.timezone %}
    <li class="timezone"><img class="icon" src="assets/images/icons/clock.svg"/>
      <a href="">{{ sidebar.timezone }}</a>
    </li>
    {% endif %}


    {% if sidebar.website %}
    <li class="website"><img class="icon" src="assets/images/icons/world.svg"/>
      <a href="http://{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a>
    </li>
    {% endif %}

    {% if sidebar.linkedin %}
    <li class="linkedin"><img class="icon" src="assets/images/icons/linkedin.svg"/>
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">{{ sidebar.linkedin }}</a>
    </li>
    {% endif %}

    {% if sidebar.behance %}
    <li class="email"><img class="icon" src="assets/images/icons/behance.svg"/>
        <a href="http://behance.net/{{ sidebar.behance }}" target="_blank">{{ sidebar.behance }}</a>
    </li>
    {% endif %}



    {% if sidebar.gitlab %}
    <li class="email"><img class="icon" src="assets/images/icons/gitlab.svg"/>
      <a href="http://gitlab.com/{{ sidebar.gitlab }}" target="_blank">{{ sidebar.gitlab }}</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
