/* ======= Base ======= */
html, body {
    font-family: "LeagueSpartan";
    color: $text-color;
    background: $smoky-white;
    font-size: 16px;
    padding: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    color: darken($theme-color, 15%);
    &:hover {
        text-decoration: underline;
        color: darken($theme-color, 30%);
    }
    &:focus {
        text-decoration: none;
    }
}

p {
    line-height: 1.5rem;
}
ul{
    padding-left: 0;
    
}
.wrapper {
    /* display: grid; */
    /* grid-template-columns: repeat(10, 1fr); */
    background: $white;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.sidebar-wrapper {
    /* grid-column: span 3; */
    order: 0;
    background: $white;
    padding: 4rem;
    // width: 30%;
    a {
    }
    .profile-container {
        // padding: 2rem;
        background-color: $theme-color;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
    .name {
        font-size: 1.25rem;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 0.5rem;
        padding: 0 1rem;
        color: white;
    }
    .tagline {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 1rem;
        color: white;
    }
    .profile {
        margin-bottom: 2rem;
    }

    .avatar {
        //used for profile image
        // max-width: 100px;
        width: 100%;
        margin-bottom: 2rem;
        border: 0px solid #fff;
        // border-radius: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }
    .contact-list {
        .fas,
        .fab,
        .far,
        img.icon{
            margin-right: 5px;
            font-size: 1.25rem;
            vertical-align: middle;
            color: #8D93A8;
            width: 1.5rem;
        }
        li {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
            a{
                color: $text-color;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                    
}
            }
        }
    }
    .container-block {
        // padding: 0 2rem;
        margin-bottom: 3.5rem;
    }
    .container-block-title, .section-title {
        font-size: 1rem;
        font-weight:700;
        text-transform: uppercase;
        color: $theme-color;
        letter-spacing: 0.25rem;
        margin-bottom: 1rem;
    }
    .degree {
        font-size: 1.35rem;
    }
    .educations-section {
        .item {
            &:last-child {
            }
        }
        .meta {
            font-size: 1rem;
            font-weight: 400;
        }
        .time {
            color: $text-color-secondary;
        }
    }
    .languages-container {
        .lang-desc {
        }
    }

    .languages-list {
        li {
            &:last-child {
            }
        }
    }
    .interests-container{
        .interests-list {
            margin-bottom: 0;
            li {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        
    }

}

.main-wrapper {
    grid-column: span 7;
    background: #fff;
    padding: 4rem 4rem 4rem 0;
    // padding: 2rem 3.5rem 2rem 2rem;
    .section-title {
        /* color: darken($theme-color, 15%); */
        position: relative;
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight:700;
        text-transform: uppercase;
        color: $theme-color;
        letter-spacing: 0.25rem;


        .fa-stack{
            display: none;
            height: 1.5rem;
            i{
                color: $text-color-secondary;
            }
        }
    }
    .subsection-title{
        font-size: 1rem;
        
}
    .section {
        margin-bottom: 4rem;
    }

    .experiences-section,
    .educations-section {
        .item {
            margin-bottom: 2rem;
        }
    }
    .upper-row {
        position: relative;
        /* overflow: hidden; */
        margin-bottom: 2px;
        display: flex;
    }
    .job-title,
    .degree {
        color: $text-color;
        font-size: 1.6rem;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 0;
        flex: 75%;
    }
    .time {
        position: absolute;
        right: 0;
        top: 0;
        color: $text-color-secondary;
        flex: 25%;
    }
    .company,
    .university {
        margin-bottom: 10px;
        color: $text-color-secondary;
    }

    .project-title {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 5px;
        color: darken($theme-color, 15%);
    }
    .projects-section,
    .oss-section {
        .intro {
            margin-bottom: 1rem;
        }
        .item {
            margin-bottom: 0.5rem;
        }
    }

    .publication-title {
        font-size: 1rem;
        font-weight: 400;
        color: $text-color;
        margin-bottom: 1px;
    }
    .publication-authors {
        font-style: italic;
        color: $text-color-secondary;
        margin-bottom: 1px;
    }
    .publications-section {
        .intro {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 15px;
        }
    }
}

.skillset {
    .item {
    }
    .level-title {
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: 500;
    }
    .level-bar {
        height: 12px;
        background: $smoky-white;
    }
    .level-bar-inner {
        height: 12px;
        background: lighten($theme-color, 15%);
    }
}
.footer {
    padding-top: 30px;
    .copyright {
        line-height: 1.6;
        color: $text-color-secondary;
        font-size: 13px;
    }

    .fa-heart {
        color: $heart;
    }
}

// override bootstrap
.col{
    padding: 0;
    padding-right: 2rem;   

}
